<h3>Dear {{ email }},</h3>

<p>This is an alert to let you know that you have just booked an event on <strong>{{ month }}/{{ day }}/{{ year }}</strong>.</p>

<p>The information is as follows:</p>

<p><h5>Event Title:</h5> {{ title }}</p>
<p><h5>Event Notes:</h5> {{ notes }}</p>

<p>If you did not create an event with us, please contact us immediately or paste the link below into your URL:</p>

<p>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Click Here</a>
</p>

<p>Sincerely,</p>
<h5>Coding Temple</h5>
